body {
  text-align: center;
}
.light-background {
  background-color: #adcceb;
  color: black;
}
.dark-background {
  background-color: darkblue;
  color: papayawhip;
}

h1 {
  color: #e67300;
  font-family: monospace;
  border: 2px solid #e67300;
  font-size: 500%;
}
h2 {
  font-style: italic;
  color: #804000;
}
p {
  line-height: 5;
}
img {
  width: 500px;
}
ul {
  padding-left: 600px;
  margin-right: 600px;
  list-style: square;
  font-size: 20px;
}
.intro {
  font-size: 25px;
}

.instagram {
  font-family: monospace;
}
